/* Site Specific */
		
		h2{display: inline; font-size:18px; text-decoration:inherit; font-weight:inherit;}
		
		a{color: #005187;}
		
		a:hover{text-decoration:underline; cursor:pointer;}
		a.EEgg:hover{text-decoration:inherit; cursor:pointer; background-color:inherit;}
		
		#Wrapper{background: #ffffff; margin-top: -6px; margin-bottom: -9px; width: 78%; min-height:102%; border: 1px solid #888888;overflow:hidden;}
		
		.mTable{padding-right: 30px; margin-right: 30px; height:100%}
		
		/* Section 1: Titles */
		.MainTitle{display: block; text-align:center; font-size:70px; font-weight:bold;}
		.MainSubTitle{display: block; text-align:center; font-size:30px; font-weight:bold;}
		.MiniTitle{display: block; text-align:center; font-size:18px; font-weight:bold;}
		.SubTitle{text-align:center; font-size:11px; font-weight:none; color:#444444}
			
		@media print{
			body{background-color:#ffffff; padding:5px;}
			/* Break */
			.break{page-break-after: always;}
			
			/* Show on Print  */
			.SP{display:inline;}
			}
			
		@media only screen and (max-device-width: 480px) {
			#Wrapper{background: white; margin-top: -5px; margin-bottom: -5px; width: 100% height:101%; }
			.HM{display: none;}
			.mTable{padding-right: 0px; margin-right: 0px; height:100%}
			}
		@media handheld{
			#Wrapper{background: white; margin-top: -5px; margin-bottom: -5px; width: 100% height:101%; }
			.HM{display: none;}
			.mTable{padding-right: 0px; margin-right: 0px; height:100%}
			}




