/* Author: Tristyn Alxander
/* Author: Tristyn Alxander
 * Title: MyNotes.css
 * Copyright: CC-BY-SA
*/
	/* Zeroing Out */
		*{margin: 0px; padding: 0px; border-spacing: 0; border-collapse: collapse;}
		body{padding:5px;background-color:#e6e6e6; height:100%;}
		body.inframe{padding:0px;background-color:inherit; height:100%;overflow-x:hidden;}
		iframe{margin: 0px; padding: 0px; border: none; border-spacing: 0; border-collapse:collapse;width:100%;height:100%; overflow-x:auto;} 
		/* Titles */
			h1{display: inherit; font-size:inherit; text-decoration:inherit; font-weight:inherit;}
			/* h2{display: inherit; font-size:inherit; text-decoration:inherit; font-weight:inherit;} */
			h3{display: inherit; font-size:inherit; text-decoration:inherit; font-weight:inherit;}
			h4{display: inherit; font-size:inherit; text-decoration:inherit; font-weight:inherit;}
			h5{display: inherit; font-size:inherit; text-decoration:inherit; font-weight:inherit;}
			h6{display: inherit; font-size:inherit; text-decoration:inherit; font-weight:inherit;}
		
		/* Size */
			.s1{font-size:1;}.s2{font-size:2;}.s3{font-size:3;}.s4{font-size:4;}.s5{font-size:5;}.s6{font-size:6;}.s7{font-size:7;}.s8{font-size:8;}.s9{font-size:9;}
			.s10{font-size:10;}.s11{font-size:11;}.s12{font-size:12;}.s13{font-size:13;}.s14{font-size:14;}.s15{font-size:15;}.s16{font-size:16;}.s17{font-size:17;}.s18{font-size:18;}.s19{font-size:19;}
			.s20{font-size:20;}.s21{font-size:21;}.s22{font-size:22;}.s23{font-size:23;}.s24{font-size:24;}.s25{font-size:25;}.s26{font-size:26;}.s27{font-size:27;}.s28{font-size:28;}.s29{font-size:29;}.s30{font-size:30;}
		
		/* Links  */
			a{display: inline; font-size:inherit; text-decoration:inherit; font-weight:inherit; color: inherit;background-color:#f9f9ff;}
			a.EEgg{display: inline; font-size:inherit; text-decoration:inherit; font-weight:inherit; color: inherit;background-color:inherit;}
			a:hover{text-decoration:underline; cursor:pointer;background-color:#e0e0ff;}
			/* a.EEgg:hover{text-decoration:inherit; cursor:inherit;background-color:inherit;} */
			a.img{display: inline; font-size:inherit; text-decoration:inherit; font-weight:inherit; color: inherit;background-color:inherit;}
			a.img:hover{text-decoration:inherit; cursor:pointer;background-color:inherit;}
		/* Quotes */
			/*
			q:before {content:"\201C";}
			q:after {content:"\201D";}
			q q:before {content:"\2018";}
			q q:after {content:"\2019";}
			q:hover{background-color:#eeeeee;}
			*/
			
		/* Paragraphs */
			p:before{content:"\00a0\00a0\00a0\00a0";}
		
		/* Lists */
			ul{padding-left:20px; list-style-type:none;}
			ul ul{padding-left:10px;}
			
			ol{padding-left:20px; list-style-type:none;}
			ol ol{padding-left:10px;}
		
	/* Common Use */
		/* Brackets */
			span.Rbracket{margin-left:-2px;}
			span.Lbracket{margin-right:-2px}
		
		/* Bullets */
			.bullet:before{content:"\2022"; font-size:22px;}
		
		/* Boxes */
			/* Borders */
				.box{border: 1px solid #888888;}
				.nbox{border: none;}
				
				.ldash{border-left: 1px dashed #666666;}
				.rdash{border-right: 1px dashed #666666;}
				.lrdash{border-left: 1px dashed #666666;border-right: 1px dashed #666666;}
			/* Spacing */
				.pbox{padding:10px;}
				
				.mbox{margin:10px;}
				.plrbox{padding-left:10px; padding-right:10px; padding-top:0px; padding-bottom: 0px;}
				table.plrbox tr td{padding-left:5px; padding-right:5px;}
				.mlrbox{margin-left:10px; margin-right:10px; margin-top:0px; margin-bottom: 0px;}
		
		/* Center */
			.mid{margin-left:auto; margin-right:auto;}
				h1.mid{display:block;text-align:center;}
				h2.mid{display:block;text-align:center;}
				h3.mid{display:block;text-align:center;}
				h4.mid{display:block;text-align:center;}
				h5.mid{display:block;text-align:center;}
				h6.mid{display:block;text-align:center;}
			.center{text-align:center;}
				table.center tr td{text-align:center;}
				tr.center td{text-align:center;}
				
		
		/* Table */
			table.top tr td {vertical-align: top;}
			table.Two{width:100%;}
			Table.Two tr td{width:50%;vertical-align: top;}
			Table.Two tr td:nth-child(2n+1){text-align:left;}
			Table.Two tr td:nth-child(2n+0){text-align:right;}
			Table.Two tr td.tag:nth-child(2n+0){text-align:right; width: auto;} /* This site. */
		
			table.Three{width:100%;}
			Table.Three > tbody > tr > td{width:33%; vertical-align: top;}
			Table.Three > tbody > tr > td:nth-child(3n+1){text-align:left;}
			Table.Three > tbody > tr > td:nth-child(3n+2){text-align:center;}
			Table.Three > tbody > tr > td:nth-child(3n+0){text-align:right;}
		
			table.EvenTwo tr td{width:50%;vertical-align: top;}
			table.EvenThree tr td{width:33%; vertical-align: top;}
		
		code{background-color:#e0e0ff}
		.code{background-color:#e0e0ff}
		
		/* Size */
			.fat{width:100%;}
			
			
			
			.tall{height:100%;}
			textarea{width:100%;height:100%;}
			input[type="text"]{width:100%;}
		
		/* Decorations */
			del{color:#555555;text-decoration:line-through;}
			.del{color:#555555;text-decoration:line-through;}
			.U:hover{text-decoration:underline;}
			.B{font-weight:bold;}
			/* Hide-Show */
				/* Hidden */		.H{display: none;}
				/* Show On Print */	.SP{display:none;}
				/* Pop-Up */		.pop:hover .up{display:block;position:absolute;z-index:50;}
