/* Zeroing Out */
	*{margin: 0; padding: 0; border-spacing: 0; border-collapse: collapse; border: none; background: none;}
	body{height:100%;}
	textarea{width:100%;height:100%;}
	input[type="text"]{width:100%;}
/* Quotes */
	q:before{content:"\201C";}
	q:after{content:"\201D";}
	q q:before{content:"\2018";}
	q q:after{content:"\2019";}
	q:hover{background-color:rgba(0,0,0,0.01);}
/* Paragraphs */
	p:before{content:"\00a0\00a0\00a0\00a0";}
/* Decorations */
	code{background-color:rgba(150,150,200,0.1); font-family: monospace;}

/* Links */
	a:hover{background-color:rgba(0,0,255,0.05);}